<div fxFlex fxLayout="column" fxLayoutAlign="center center">

    <div class="app-logo" fxLayout="column" fxLayoutAlign="center center"
         [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        <img src="/assets/images/logos/logo.svg" />
    </div>

    <span class="app-title mt-48 mb-8" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
        Привіт, чат!
    </span>

    <span fxHide fxShow.gt-md class="app-message" [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
        Оберіть чат ліворуч, щоб почати спілкуватися!
    </span>

    <button mat-raised-button fxHide.gt-md fuseMatSidenavToggler="chat-left-sidenav">
        Оберіть чат ліворуч, щоб почати спілкуватися!
    </button>

</div>
