<div id="login" fxLayout="column" class="page-layout carded fullwidth">

    <div class="top-bg accent"></div>

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo_big_tp.png" alt="logo">
            </div>

            <div class="title">Як до тебе звертатися? :)</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Нікнейм</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="username.hasError('required')">
                        Нікнейм є обов'язковим.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Пароль</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="password.hasError('required')">
                        Пароль є обов'язковим.
                    </mat-error>
                </mat-form-field>

                <mat-error *ngIf="error">{{error}}</mat-error>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        (click)="login()"
                        [disabled]="loginForm.invalid">
                    Увійти
                </button>

                <div class="separator">
                    <span class="text">або</span>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        (click)="register()"
                        [disabled]="loginForm.invalid">
                    Зареєструватися
                </button>
            </form>
        </div>

    </div>

</div>
